body {
  background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron a {
color: fff;
text-decoration: underline;
}

.jumbotron a:hover {
color: #f1c40f;
text-decoration: none;
}

.jumbotron {
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

#title {
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 100;
  font-size: 60px;
  margin: 10px;
}


.jumbotron p {
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
  font-size: 18px;
}

#list_head {
  text-align: left;
}

.jumbotron ul {
  color: white;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
}

.icons-group {
  text-align: center;
}

.icons {
  opacity:1;
}

.icons:hover{
  opacity:0.7;
}

.nav-pills {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 200;
}

.nav-pills>li>a {
  color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
  color: rgba(0,0,0,0.8);
  background-color: rgba(241,196,15,0.8)
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header {
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #fff;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }