@import url("https://fonts.googleapis.com/css?family=Miniver|Finger+Paint|Homemade+Apple|Just+Me+Again+Down+Here|Kalam|Montserrat:300|Patrick+Hand|Rock+Salt|Walter+Turncoat");

/* font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Walter Turncoat', cursive;
font-family: 'Finger Paint', cursive; */

body {
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  font-family: "Finger Paint", sans-serif;
  font-size: 16px;
}

.main-container {
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover {
  height: 60vh;
  width: auto;
}

h1 {
  color: deeppink;
  font-family: "Just Me Again Down Here", cursive;
  font-size: 72px;
  letter-spacing: 1px;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: deeppink;
  cursor: url("/img/nyan_cat.cur") 9 9, pointer;
}

a:hover {
  color: turquoise;
}
