@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Just+Me+Again+Down+Here");

* {
  box-sizing: border-box;
}

html,
body,
.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

h1 {
  color: deeppink;
  font-family: "Just Me Again Down Here", cursive;
  letter-spacing: 1px;
  font-size: 3em;
  margin: 0;
}

p {
  font-family: "Finger Paint", sans-serif;
  font-size: 0.8em;
  margin: 0 0 10px 0;
}

#cover {
  padding-bottom: 20px;
  max-height: 50%;
}

a,
a:visited {
  text-decoration: none;
  color: deeppink;
  cursor: url("/img/nyan_cat.cur") 9 9, pointer;
}

a:hover {
  color: turquoise;
}

/* Media Queries */
@media screen and (min-width: 640px) {
  p {
    font-size: 1.2em;
  }

  h1 {
    font-size: 4em;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.4em;
  }

  h1 {
    font-size: 4.5em;
  }

  #cover {
    max-height: 80%;
  }
}
