/* =========== STUPID MEDIA QUERIES =========== */
/* Gotta look decent on mobile too */
@media (max-width: 600px) {
  body {
    font-size: 1em;
  }
  body .main-box {
    width: 80%;
  }
}

@media (max-height: 568px) {
  body .main-box {
    height: 58%;
  }
}

body {
  background-image: url('../img/gilbert_tessellation.svg.png');
  background-color: Turquoise;
  background-attachment: fixed;
}

p {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
}

.main-container {
  text-align: center;
}

#btn {
  left: 50%;
  bottom: 10%;
  margin-top: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  box-shadow: 3px 3px 0px black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
}

#btn:hover {
  background: black;
  border: 1px solid white;
  box-shadow: 3px 3px 0px white;
  color: white;
}

.main-box {
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  position: absolute;;
  height: 35%;
  padding: 10px;
  text-align: center;
  background: white;
  border: 2px solid black;
  box-shadow: 15px 15px 0px black;
  font-family: 'Bungee Hairline', cursive;
  margin-bottom: 10px;
}

.title h1 {
  margin-bottom: 5px;
}

.title h3 {
  margin-top: 5px;
}

.contact-info {
  position: absolute;
  bottom: 0;
  width:100%;
}

.contact-info p {
  text-align: center;
  padding-right: 20px;
}

.about-me a {
  text-decoration: none;
}

.about-me a:visited {
  text-decoration: none;
  color: Purple;
}

.about-me a:hover {
  text-decoration: none;
  background-color: Black;
  color: Snow;
}

.fa-diamond {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.fa-diamond:hover {
  -webkit-transform: rotate(360);
  transform: rotate(360deg);
}
