@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Just+Me+Again+Down+Here");

body {
  display: block;
  max-width: 768px;
  margin: 0 0 0 300px;
  padding: 10px;
  border-left: 1px dashed darkorchid;
}

.header {
  position: absolute;
  margin: 0 0 0 -290px;
  text-align: center;
}

.contact-info p {
  color: darkorchid;
}

.contact-info a {
  color: darkorchid;
}

.contact-info a:hover {
  color: deeppink;
}

.about-me a {
  text-decoration: none;
  color: darkorchid;
}

.about-me a:hover {
  text-decoration: none;
  color: deeppink;
}

section {
  display: block;
  margin: 0 0 2em;
  padding-left: 10px;
}

section h2 {
  border-bottom: 1px solid darkorchid;
  display: table;
}

p {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

.title {
  font-size: 1em;
}

.title a {
  text-decoration: none;
  color: deeppink;
}

.title a:visited {
  text-decoration: none;
  background-color: deeppink;
}

.title a:hover {
  text-decoration: none;
  background-color: deeppink;
  color: Snow;
}

#spronq,
#stupid,
#werkspot,
#ams_rb,
#railsconf,
#codeland {
  padding-bottom: 15px;
}

section p {
  margin: 5px;
}

h1,
h2,
h3,
h4 {
  font-family: "Just Me Again Down Here", cursive;
  color: darkorchid;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
}

.speaking-link {
  margin: 0 0 5px 5px;
}

.speaking-link a {
  text-decoration: none;
  color: darkorchid;
}

#multi-conferences-list p {
  margin: 0 0 0 5px;
}

.speaking-link a:visited {
  text-decoration: none;
  color: darkorchid;
}

.speaking-link a:hover {
  text-decoration: none;
  background-color: darkorchid;
  color: Snow;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    border-left: none;
  }

  .header {
    position: static;
    margin: 0 0 2em;
    border-bottom: 1px dashed darkorchid;
    text-align: center;
  }
}
