body {
    background-image: url('images/gilbert_tessellation.svg.png');
    background-color: Turquoise;
    background-attachment: fixed;
}

p {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
}

.main-box {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    padding: 10px;
    text-align: center;
    position: absolute;
    background: white;
    border: 2px solid black;
    box-shadow: 15px 15px 0px black;
    font-family: 'Bungee Hairline', cursive;
  }

  .about-me p {
    margin-bottom: 60px;
  }

  .contact-info {
    position: absolute;
    bottom: 0;
    width:100%;
  }

  .contact-info p {
    text-align: center;
    padding-right: 20px;
  }


  .fa-diamond {
    margin: 0px 10px 0px 10px;
  }
